doctype
html
  head
    title Codegen Synth

  body
    .page
      .sidebar
        .title-header Codegen Synth

        .toolbox
          .header Files
          a.list-btn(
              v-for='file in files',
              v-on:click='file.switchTo()'
              :class="{ 'active': file.name == selectedFile}")
            | {{ file.name }} {{ file.saving ? '*' : '' }}
          a.list-btn(disabled) Add new

          .header Nodes
          a.list-btn(v-for='node in nodeTypes', v-on:click='node.create()')
            | {{ node.name }}
          a.list-btn(disabled) Add new

      .editor-container
        .title-header Main Graph

        #code-editor

        img#graph-render(style='min-height: 400px; max-height: 800px; max-width: 100%; flex-grow: 0')

    script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.1/ace.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.1/mode-clojure.js')
    script(src='https://cdn.jsdelivr.net/npm/jsedn@0.4.1/jsedn.js')
    script(src='/bundle.js')

    style.
      html, body {
        margin: 0;
        padding: 0;
        height: 100%;

        background: #122021;
        color: #dff3f5;
      }

      .page {
        display: flex;
        flex-direction: row;

        height: 100%;
      }

      .sidebar {
        width: 400px;
        display: flex;
        flex-direction: column;
      }

      .editor-container {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
      }

      .title-header {
        padding: 12px;
        border-bottom: 2px solid #dff3f5;

        font-size: 22px;
        font-variant: small-caps;
      }

      .toolbox {
        padding: 12px;
        overflow-y: auto;
        flex-grow: 1;
      }

      .toolbox .header {
        border-bottom: 1px solid #fff;
        font-variant: small-caps;
      }

      .toolbox .header:not(:first-child) {
        border-bottom: 1px solid #fff;
        margin-top: 12px;
      }

      .toolbox .list-btn {
        display: block;
        //- width: 100%;
        margin-top: 2px;
        text-align: left;
        padding: 6px;
        cursor: pointer;
        border-radius: 3px;
      }
      .toolbox .list-btn.active {
        background-color: #173639;
      }
      .toolbox .list-btn:hover {
        text-decoration: underline;
        background-color: #375c60;
      }

      .toolbox .list-btn[disabled] {
        cursor: not-allowed;
      }
      .toolbox .list-btn[disabled]:hover {
        text-decoration: none;
      }

      #code-editor {
        flex-grow: 1;
      }